<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicio" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServicio" />
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost/ServicioWCF" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IServicio" contract="ref_Servicio.IServicio"
        name="WSHttpBinding_IServicio" />-->
      <endpoint address="http://localhost/Servicio_WCF/Servicio.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicio"
        contract="ref_Servicio.IServicio" name="BasicHttpBinding_IServicio" />
    </client>
  </system.serviceModel>
</configuration>