<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServicio" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/ServicioWCF" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IServicio" contract="ref_Servicio.IServicio"
        name="WSHttpBinding_IServicio">
        <identity>
          <servicePrincipalName value="host/DESKTOP-ESPIAL" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>