<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.5.2"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	
    <!--<system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>-->
	
    <system.serviceModel>
        <services>
            <service name="Servicio">
                <endpoint address="http://localhost/ServicioWCF" 
						              binding="basicHttpsBinding" 
						              bindingConfiguration="EnlaceDatosBasico" 
						              contract="IServicio"/>  
            </service>
        </services>
		
        <behaviors>
		    <serviceBehaviors>
			    <behavior>
				    <serviceMetadata httpGetEnabled="True"/>
				    <serviceDebug includeExceptionDetailInFaults="True"/>
			    </behavior>
		    </serviceBehaviors>
        </behaviors>
		
        <bindings>
            <basicHttpBinding>
                <binding name="EnlaceDatosBasico"></binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="EnlaceDatosWS"></binding>
            </wsHttpBinding>
        </bindings>
    </system.serviceModel>

    <system.webServer>
	    <modules runAllManagedModulesForAllRequests="true"/>
	    <directoryBrowse enabled="false"/>
    </system.webServer>
	
</configuration>